@import "compass"

// default text
$COLOR_DEFAULT_TEXT   : #34495E
// hight text
$COLOR_HIGHLIGHT      : #FFFFFF

// default link
$COLOR_DEFAULT_LINK   : #34495E
// light link
$COLOR_LIGHT_LINK     : #FFFFFF

// default border
$COLOR_DEFAULT_BORDER : #DDDDDD
// light border
$COLOR_LIGHT_BORDER   : #FFFFFF

// background
$COLOR_BACKGROUND     : #FFFFFF

// TURQUOISE
$COLOR_TURQUOISE      : #1ABC9C
// TURQUOISE HOVER
$COLOR_TURQUOISE_HOVER: #48C9b0
// GREEN SEA
$COLOR_GREEN_SEA      : #16A085

// PETER RIVER
$COLOR_PETER_RIVER    : #3498DB
// BELIZE HOLE
$COLOR_BELIZE_HOLE    : #2980B9

// WET ASPHALT
$COLOR_WET_ASPHALT    : #34495E
// MIDNIGHT BLUE
$COLOR_MIDNIGHT_BLUE  : #2C3E50

// ALIZARIN
$COLOR_ALIZARIN       : #E74C3C
// POMEGRANATE
$COLOR_POMEGRANATE    : #C0392B

// CLOUDS
$COLOR_CLOUDS         : #ECF0F1
// SILVER
$COLOR_SILVER         : #BDC3C7

+global-reset()

@mixin base-input

  input
    padding: 10px 40px 10px 10px
    width: 206px
    height: 20px
    font: 16px Lato, sans-serif
    color: $COLOR_DEFAULT_TEXT
    border: 2px solid $COLOR_LIGHT_BORDER
    +border-radius(5px)
    +transition(all .3s ease-in-out)

  label
    position: absolute
    font-size: 16px
    top: 15px
    right: 15px
    color: $COLOR_SILVER

  input:focus
    outline: 0
    border-color: $COLOR_GREEN_SEA

  input:focus + label
    color: $COLOR_GREEN_SEA

body
  font: 14px Lato, sans-serif
  color: $COLOR_DEFAULT_TEXT
  background: $COLOR_BACKGROUND

  a
    color: $COLOR_DEFAULT_LINK
    text-decoration: none
    &:hover
      color: $COLOR_DEFAULT_LINK
      text-decoration: underline

.tips
  display: none

  .tips-bd
    height: 24px
    text-align: center
    line-height: 24px
    font-size: 14px
    color: $COLOR_HIGHLIGHT
    background: $COLOR_TURQUOISE

    i
      margin-right: 10px

  .error
    background: $COLOR_POMEGRANATE

.wrap
  overflow: hidden

.head
  z-index: 100
  overflow: hidden

.edit
  display: none

.cont, .side
  +float-right

.cont
  width: 100%

  .main
    padding: 20px
    margin-left: 300px
    
    .main-hd
      height: 40px
      margin-bottom: 20px
      padding-bottom: 10px
      border-bottom: 1px solid $COLOR_DEFAULT_BORDER

      h1
        font-size: 35px

      .add, .back
        +float-right
        margin-top: 10px
        font-size: 18px
        color: $COLOR_DEFAULT_LINK

      .btn
        margin-right: 10px

    .main-bd
      +pie-clearfix()

  .demos

    .demo
      position: relative
      +float-left
      margin: 0 20px 20px 0
      padding: 10px
      width: 400px
      height: 300px
      background: $COLOR_CLOUDS
      +border-radius(5px)

    .demo-bd
      margin-bottom: 10px
      width: 400px
      height: 260px
      background: #FFFFFF
      +border-radius(5px)

      iframe
        width: 400px
        height: 260px

    .demo-ft
      text-indent: 10px
      height: 30px
      line-height: 30px
      color: $COLOR_HIGHLIGHT
      +border-radius(5px)
      background: $COLOR_TURQUOISE
      overflow: hidden

    .demo-link
      position: absolute
      top: 10px
      left: 10px
      width: 400px
      height: 300px

  .code

    .main-hd
      margin-bottom: 25px

    .main-bd
      height: 600px
      position: relative
      margin: 5px

      .left
        left: -5px

      .right
        right: -5px

      .top
        top: -5px

      .bottom
        bottom: -5px

      .column
        position: absolute
        width: 50%
        height: 100%

      .editor-wrap
        position: absolute
        width: 100%
        height: 50%
        background: #FFF
        border: 1px solid $COLOR_DEFAULT_BORDER

      .editor-label
        z-index: 10
        cursor: pointer
        position: absolute
        top: 5px
        right: 20px
        display: none
        padding: 0 5px
        font-size: 12px
        line-height: 18px
        color: #666
        border: 1px solid $COLOR_DEFAULT_BORDER
        background: #FFF

        i
          margin-left: 5px

      .editor
        width: 100%
        height: 100%

  .full-screen

    .main-hd
      margin-bottom: 20px

    .main-bd
      margin: 0
      padding-bottom: 8px

      .left
        left: 0

      .right
        right: 0

      .top
        top: 0

      .bottom
        bottom: 0

  .btn
    cursor: pointer
    +inline-block
    padding: 0 20px
    height: 40px
    font-size: 16px
    line-height: 40px
    color: $COLOR_HIGHLIGHT
    +border-radius(5px)
    background: $COLOR_TURQUOISE
    +transition(all .3s ease-in-out)
    &:hover
      text-decoration: none
      background: #48C9b0

    i
      margin-right: 10px

  .disabled
    cursor: default
    color: #666
    background: #E6E6E6
    background-image: none

.side
  position: fixed
  margin-right: -300px
  padding: 20px 19px 20px 20px
  width: 260px
  height: 100%
  border-right: 1px solid $COLOR_SILVER
  background: $COLOR_CLOUDS

  .sidebar

    .sidebar-hd

      .search
        position: relative
        margin-bottom: 10px
        @include base-input
        overflow: hidden

    .sidebar-bd

      .tab
        margin-bottom: 10px
        +border-radius(5px)
        overflow: hidden

        a
          +float-left
          width: 130px
          height: 40px
          text-align: center
          line-height: 40px
          color: $COLOR_HIGHLIGHT
          background: $COLOR_TURQUOISE
          +transition(all .3s ease-in-out)
          &:hover
            text-decoration: none
            background: $COLOR_TURQUOISE_HOVER

        .current
          background: $COLOR_GREEN_SEA

      .api
        overflow: auto

        li
          cursor: pointer
          font-size: 14px
          line-height: 18px

      .modules
        display: none

        .module
          &:first-child
            .module-name
              +border-radius(5px 5px 0 0)
          &:last-child
            .module-name
              +border-radius(0 0 5px 5px)

        .module-name
          padding: 10px
          color: $COLOR_HIGHLIGHT
          border-top: 2px solid $COLOR_MIDNIGHT_BLUE
          background: $COLOR_WET_ASPHALT

          i
            margin-right: 5px

        .subcats, .entries
          display: none
          overflow: hidden

        .subcat-name, .entrie
          padding: 10px 10px 10px 27px

        .subcat-name
          color: $COLOR_HIGHLIGHT
          border-bottom: 1px solid $COLOR_GREEN_SEA
          background: $COLOR_TURQUOISE

        .entrie
          border-bottom: 1px solid $COLOR_SILVER
          background: $COLOR_CLOUDS

          .entrie-name
            margin-bottom: 5px

          .entrie-desc
            font-size: 12px
            color: #999

        .current
          color: $COLOR_HIGHLIGHT
          background: $COLOR_PETER_RIVER
          border-color: $COLOR_BELIZE_HOLE
          +text-shadow(rgba(0, 0, 0, 0.2) 1px 1px 0)
          +box-shadow(black 2px 2px 10px)

          .entrie-desc
            color: $COLOR_HIGHLIGHT

  .info

    .info-hd

      h2
        margin-bottom: 20px
        padding-bottom: 10px
        width: 260px
        height: 40px
        font-size: 26px
        line-height: 40px
        text-overflow: ellipsis
        border-bottom: 1px solid $COLOR_DEFAULT_BORDER
        overflow: hidden

    .info-bd

      li
        position: relative
        margin-bottom: 20px
        width: 260px
        @include base-input